# Base de datos
DATABASE_URL=postgresql://reservas_user:reservas_pass@db:5432/restaurante_reservas
POSTGRES_USER=reservas_user
POSTGRES_PASSWORD=reservas_pass
POSTGRES_DB=restaurante_reservas

# Correo (Gmail)
GMAIL_USER=
GMAIL_PASS=

# Frontend
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8000
